table {
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 10px;
	width: 100%;
	height: 80%;
}

table th {
	text-align: center;
	vertical-align:middle;
	overflow: hidden;
}

table td {
	text-align: center;
	vertical-align:middle;
	overflow: hidden;
	width: 100%;
}

table td a{
	text-decoration: none;
	margin: -75px;
	padding: 75px 75px;
} 